.section-office {
  position: relative;
  display: flex;
  height: 600px;
  align-items: flex-end;
}
.section-office::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("../../img/contact-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 520px;
}
@media only screen and (max-width: 768px) {
  .section-office {
    height: 400px;
  }
  .section-office::before {
    height: 280px;
  }
}

.card-office {
  background-color: #181d21;
  color: white;
  padding: 40px;
}
.card-office__title {
  font-weight: bold;
  font-size: 24px;
}
.card-office__contact {
  color: #999999;
}
@media only screen and (max-width: 768px) {
  .card-office {
    text-align: center;
  }
}

.swiper-office .swiper-container {
  width: 100%;
}
.swiper-office__slide {
  text-align: center;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #181d21;
  padding: 20px;
}
.swiper-office__navigation-container {
  display: flex;
  justify-content: center;
  right: 0;
  left: 0;
  margin-top: 10px;
}
.swiper-office__button {
  width: 60px;
  height: 60px;
  background-color: black;
}

.section-form__location {
  display: flex;
}
.section-form .map {
  width: 100%;
  height: 220px;
  border: none;
}

/*# sourceMappingURL=contact.css.map */
