.navbar {
  background-color: transparent;
}

.section-hero {
  background-color: #181d21;
  position: relative;
  color: white;
  min-height: 500px;
}
@media only screen and (max-width: 768px) {
  .section-hero .button {
    padding-right: 0;
    overflow-x: visible;
  }
  .section-hero .button::before {
    display: none;
  }
  .section-hero .button::after {
    display: none;
  }
  .section-hero .button:hover {
    padding-left: 0;
    color: #999999;
  }
  .section-hero .button:hover::after {
    width: 20px;
  }
}
.section-hero::after {
  content: "";
  position: absolute;
  height: 72px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
@media only screen and (max-width: 768px) {
  .section-hero {
    text-align: center;
    background-color: #f7f7f7;
  }
}

.swiper-hero {
  position: relative;
  background-color: #181d21;
  height: 100%;
}
.swiper-hero__image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  object-fit: cover;
  object-position: center;
}
.swiper-hero__text-container {
  z-index: 1;
  padding-right: 16px;
  background-color: #181d21;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.swiper-hero__facility {
  color: #999999;
  margin: 0;
}
.swiper-hero__price {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 80px;
}
.swiper-hero__pagination {
  position: absolute;
  left: 50%;
  bottom: 200px;
  transform: translateX(-50%);
}
.swiper-hero__navigation-container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 100px;
  right: 0;
  left: 0;
}
@media only screen and (max-width: 768px) {
  .swiper-hero {
    background-color: transparent;
  }
  .swiper-hero__image {
    width: 100%;
    z-index: -1;
    height: 90%;
  }
  .swiper-hero__text-container {
    width: 100%;
    padding: 24px;
    padding-bottom: 64px;
    height: auto;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 16px;
    border-radius: 5px;
  }
  .swiper-hero__title {
    font-size: 24px;
    font-weight: bold;
  }
  .swiper-hero__price {
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0;
  }
  .swiper-hero__navigation-container {
    width: 100%;
    justify-content: space-between;
    bottom: 85px;
  }
  .swiper-hero__pagination {
    bottom: 40px;
  }
}

.section-benefit {
  background-color: #f7f7f7;
  position: relative;
  color: white;
  height: 500px;
  padding: 100px 0;
}
.section-benefit__title {
  text-shadow: 0px 0px 5px black;
}
.section-benefit__desc {
  text-shadow: 0px 0px 5px black;
}
.section-benefit__button {
  margin-top: 75px;
  text-shadow: 0px 0px 5px black;
}
.section-benefit::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-image: url(../../img/services-c-fig-2.jpg);
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 992px) {
  .section-benefit::before {
    width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .section-benefit {
    height: auto;
    padding: 30px 0;
  }
  .section-benefit__button {
    margin-top: 30px;
  }
  .section-benefit::before {
    width: 100%;
    height: 70%;
  }
}

.card-benefit {
  background-color: #181d21;
  text-align: center;
  border-radius: 5px;
  min-height: 300px;
}
.card-benefit__image {
  height: 100px;
  margin-bottom: 30px;
}
.card-benefit__title {
  font-size: 18px;
  font-weight: bold;
}
.card-benefit__desc {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .card-benefit {
    min-height: 260px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.swiper-benefit {
  height: auto;
  width: 65%;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 1;
}
.swiper-benefit__button {
  background-color: transparent;
  color: black;
}
.swiper-benefit__navigation-container {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 65%;
  height: auto;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  .swiper-benefit {
    width: 50%;
  }
  .swiper-benefit__navigation-container {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .swiper-benefit {
    margin-top: 30px;
    position: relative;
    bottom: 0;
    top: auto;
    width: 100%;
    transform: translateY(0);
  }
  .swiper-benefit__navigation-container {
    justify-content: space-between;
    width: 100%;
    bottom: 130px;
    left: 0;
  }
  .swiper-benefit__button {
    color: white;
  }
}
@media only screen and (max-width: 575px) {
  .swiper-benefit__button {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }
}

.section-property {
  background-color: #f7f7f7;
}

.section-agent {
  background-color: #f7f7f7;
}

.card-agent {
  display: block;
  border-radius: 5px;
  color: white;
  transition: all 0.3s ease;
  border: none;
  margin-bottom: 70px;
}
.card-agent__image-container {
  position: relative;
  width: 100%;
}
.card-agent__image-container:before {
  content: "";
  display: block;
  padding-top: 150%;
}
.card-agent__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-agent__image {
  object-position: top;
  border-radius: 5px;
}
.card-agent__body {
  background-color: #181d21;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  width: 80%;
  z-index: 1;
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.25);
}
.card-agent__name {
  font-size: 16px;
  margin: 0;
  margin-bottom: 3px;
  font-weight: bold;
}
.card-agent__phone {
  font-size: 14px;
  margin: 0;
  color: #999999;
}
.card-agent__social {
  height: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.card-agent__social-link {
  text-decoration: none;
  color: white;
  margin: 0 5px;
  transition: all 0.3s ease;
  font-size: 20px;
}
.card-agent__social-link:hover {
  text-decoration: none;
  color: #999999;
}
.card-agent:hover {
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.card-agent:hover .card-agent__social {
  margin-top: 5px;
  height: 30px;
}
@media only screen and (max-width: 991.5px) {
  .card-agent__social {
    margin-top: 5px;
    height: 30px;
  }
  .card-agent__social-link {
    margin: 0 10px;
  }
}

.section-search {
  background-image: url("../../img/cta-fig-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 130px 0;
}

.card-search {
  background-color: #181d21;
  color: white;
  width: 90%;
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
}
.card-search__title {
  font-weight: bold;
  line-height: normal;
}
.card-search__desc {
  color: #999999;
  margin-bottom: 30px;
}

/*# sourceMappingURL=home.css.map */
