body {
  background-color: #f7f7f7;
}

.map-container {
  position: fixed;
  top: 72px;
  right: 0;
  width: 50%;
  height: calc(100vh - 72px);
}
@media only screen and (max-width: 767.5px) {
  .map-container {
    position: relative;
    width: 100%;
    top: auto;
  }
}

.map {
  width: 100%;
  height: 100%;
  border: 0;
}

.footer-property {
  background-color: #181d21;
  color: #999999;
  padding: 30px 0;
}

.filter {
  padding-top: 30px;
  padding-bottom: 30px;
}
.filter__result {
  font-weight: bold;
  margin: 0;
  font-size: 20px;
}

.pagination {
  margin: 0;
}
.pagination__item {
  padding: 0 10px;
  display: flex;
}
.pagination__item i {
  margin: 0 5px;
  margin-top: 5px;
}
.pagination__link {
  color: #181d21;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  padding: 10px 1px;
  padding-top: 0;
  background-color: transparent;
}
.pagination__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 0%;
  opacity: 0;
  border-bottom: 3px solid #181d21;
  transition: all 0.3s ease;
}
.pagination__link.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #181d21;
}
.pagination__link:hover {
  color: #181d21;
  text-decoration: none;
}
.pagination__link:hover::before {
  width: 100%;
  opacity: 1;
}

/*# sourceMappingURL=property-listing.css.map */
