.section-header__title {
  font-weight: bold;
  font-size: 30px;
}
.section-header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.section-header__price {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
.section-header__facility-container {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  align-items: center;
}
.section-header__facility-item {
  font-size: 20px;
  margin: 0 5px;
}
.section-header__facility-unit {
  font-size: 14px;
}
.section-header__image-container {
  position: relative;
  width: 100%;
}
.section-header__image-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.section-header__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-header__image-container {
  overflow: hidden;
}
.section-header__image-container::after {
  content: "View Photo";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  padding: 10px 20px;
  white-space: nowrap;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
}
.section-header__image-container:hover::after {
  top: 90%;
  transform: translate(-50%, -100%);
}
.section-header__image {
  padding: 2px;
}
.section-header__small-side:nth-child(n+5) {
  display: none;
}

.section-detail__right-side {
  position: sticky;
  top: 88px;
}
.section-detail__separator {
  margin-top: 24px;
  margin-bottom: 20px;
}
.section-detail__detail-key {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.section-detail__detail-value {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  font-size: 18px;
}

.section-overview__desc-container {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 134.4px;
  /* Fallback for non-webkit */
  font-size: 16px;
  line-height: 1.4;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
}
.section-overview__desc-container.show {
  display: block;
}
.section-overview__desc {
  margin: 0;
}
.section-overview__button {
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.section-overview__button:focus {
  box-shadow: none;
}

.media-user__image-container {
  position: relative;
  width: 100%;
}
.media-user__image-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.media-user__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media-user__title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}
.media-user__email {
  margin-top: 14px;
  margin-bottom: 0;
}

.section-area__map {
  width: 100%;
  height: 350px;
  border: none;
}

.table-school__star-container {
  margin-left: 5px;
}
@media only screen and (max-width: 767.5px) {
  .table-school__star-container {
    display: none;
  }
}

.payment-chart {
  width: 100%;
  max-width: 250px;
  margin: auto;
  position: relative;
}
.payment-chart__text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.payment-chart__total {
  font-weight: bold;
  margin: 0;
  font-size: 20px;
}
.payment-chart__unit {
  font-size: 14px;
  margin: 0;
  color: #999999;
}
.payment-chart__indicator {
  font-weight: bold;
  color: #0070c9;
  margin-right: 5px;
}

.floating-buttons {
  display: none;
  position: sticky;
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px 0;
  bottom: 0;
}
@media only screen and (max-width: 992px) {
  .floating-buttons {
    display: block;
  }
}

.normal-buttons {
  display: flex;
}
@media only screen and (max-width: 992px) {
  .normal-buttons {
    display: none;
  }
}

.nav-pills .nav-link {
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 20px;
  font-weight: bold;
  border-bottom: 3px solid transparent;
}
.nav-pills .nav-link.active {
  color: #333;
  background-color: transparent;
  border-bottom: 3px solid #181d21;
}

.nav-pills-custom .nav-pills {
  display: none;
}
.nav-pills-custom .card .card-header {
  background-color: white;
  text-transform: uppercase;
  padding: 0;
}
.nav-pills-custom .card .card-header .card-title {
  transition: all 0.3s ease;
  font-weight: bold;
  color: #181d21;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 15px 20px;
}
.nav-pills-custom .card .card-header .card-title:hover {
  text-decoration: none;
  color: #181d21;
}
.nav-pills-custom .card .card-header .card-title.collapsed {
  color: #999999;
}
.nav-pills-custom .card .card-header .card-title.collapsed:hover {
  text-decoration: none;
  color: #181d21;
}
@media (min-width: 768px) {
  .nav-pills-custom .nav-pills {
    display: block;
    white-space: nowrap;
    overflow: auto;
    padding-bottom: 10px;
  }
  .nav-pills-custom .nav-pills .nav-item {
    display: inline-block;
  }
  .nav-pills-custom .card {
    border: none;
  }
  .nav-pills-custom .card .card-header {
    display: none;
  }
  .nav-pills-custom .card .collapse {
    display: block;
  }
}
@media (max-width: 767px) {
  .nav-pills-custom .tab-content > .tab-pane {
    display: block !important;
    opacity: 1;
  }
}

/*# sourceMappingURL=property-detail.css.map */
