@import "_config";
@import "plugin/bootstrap/_bootstrap.scss";

.lock-scroll {
  overflow: hidden;
}
.section {
  padding-top: 80px;
  padding-bottom: 80px;
  &__title {
    font-weight: bold;
  }
  &__desc {
    margin-bottom: 45px;
  }
}
.button {
  font-weight: bold;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease;
  padding-left: 0;
  padding-right: 30px;
  overflow: hidden;
  display: inline-block;
  &::before {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: -28px;
    margin-top: 2px;
    transition: all 0.3s ease;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    margin-top: 2px;
    background-color: white;
    transition: all 0.3s ease;
  }
  &:hover {
    text-decoration: none;
    color: white;
    padding-left: 30px;
    padding-right: 0;
    &::before {
      left: 5px;
    }
    &::after {
      width: 0px;
    }
  }
  &--primary {
    @extend .button;
    color: $primary;
    &::after {
      background-color: $primary;
    }
    &:hover {
      color: $primary;
    }
  }
}
.button-form {
  background-color: white;
  border: $input-border-width solid $input-border-color;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .3s ease;
  &:hover {
    background-color: $primary;
    color: white;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  transition: all 0.3s ease;
  z-index: 999;
  position: fixed;
  background-color: $primary;
  &__scrolled {
    background-color: $primary !important;
  }
  &__logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__item {
    margin: 0;
    margin-left: 1.2rem;
    list-style: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
  }
  &__item:nth-child(1) {
    margin-left: 0;
  }
  &__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      opacity: 0;
      height: 2px;
      background-color: white;
      transition: all 0.3s ease;
    }
    &:hover {
      text-decoration: none;
      color: white;
      &::after {
        width: 80%;
        opacity: 1;
      }
    }
  }
  &__profile {
    color: white;
    //   display: inline-block;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    &:hover {
      background-color: white;
      color: $primary;
    }
  }
  &__hamburger {
    display: none;
  }

  &__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  &.transparent {
    background-color: rgba(0, 0, 0, 0);
  }

  @media only screen and (max-width: 768px) {
    &__menu {
      position: fixed;
      transform: translate(0, 0);
      left: -100%;
      top: 0;
      flex-direction: column;
      background-color: $primary;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      z-index: -1;
      padding: 0;
      padding-top: 72px;
      height: 100vh;
      justify-content: space-around;
    }

    &__logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__menu.active {
      left: 0;
    }

    &__item {
      margin: 0;
    }

    &__hamburger {
      display: block;
      cursor: pointer;
    }

    &__hamburger.active .navbar__bar:nth-child(2) {
      opacity: 0;
    }

    &__hamburger.active .navbar__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &__hamburger.active .navbar__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.swiper-button-custom {
  margin: 0;
  padding: 0;
  transform: translate(0,0);
  width: 80px;
  height: 80px;
  color: white;
  background-color: black;
  position: relative;
  &::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  &:hover::after {
    opacity: 1;
  }
  &--prev {
    @extend .swiper-button-custom;
    left: 0;
    &::after {
      content: "\f060";
    }
  }
  &--next {
    @extend .swiper-button-custom;
    right: 0;
    &::after {
      content: "\f061";
    }
  }
  @media only screen and (max-width: 768px) {
    background-color: transparent;
  }
}
.swiper-pagination-custom {
  display: inline-block;
  width: auto;
  height: auto;
  font-weight: bold;
}

.footer {
  background-color: $primary;
  color: white;
  &__logo {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 8px;
  }
  &__address {
    color: $white-darker;
  }
  &__social-link {
    color: white;
    font-size: 24px;
    margin-right: 20px;
    transition: all 0.3s ease;
    &:hover {
      color: $white-darker;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__list {
    list-style: none;
    padding: 0;
  }
  &__item {
    font-size: 16px;
    margin-bottom: 10px;
  }
  &__link {
    color: white;
    transition: all 0.3s ease;
    &:hover {
      text-decoration: none;
      color: $white-darker;
    }
  }
  &__bottom-text {
    font-size: 14px;
  }
  &__term {
    color: white;
    transition: all .3s ease;
    &:hover {
      text-decoration: none;
      color: $white-darker;
    }
  }
  &__copyright {
    margin: 0;
    color: $white-darker;
  }
}
.modal-login {
  width: 400px;
  padding: 20px;
  margin: auto;
  &__close-icon {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  &__label {
    font-weight: bold;
    font-size: 14px;
    padding: 0;
  }
}

.form {
  &__label {
    font-weight: bold;
    margin-bottom: 2px;
  }
}

// Global Class
.main {
  margin-top: 72px;
  background-color: $secondary;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 36px;
}

.subtitle {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 28px;
}

// Scrollball
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
