@import "../_config";

.card-property {
  border-radius: 5px;
  color: white;
  border: none;
  margin-bottom: 20px;
  overflow: hidden;
  @include imageRatio(100, 120);
  &__body {
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 1;
    bottom: 0;
  }
  &__title {
    font-size: 18px;
    margin: 0;
  }
  &__price {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  &__facility {
    font-size: 14px;
    margin: 0;
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 10px;
      opacity: 0.5;
      margin-top: 10px;
      margin-bottom: -20px;
      background-color: white;
      transition: all 0.5s ease;
    }
  }
  &__desc {
    height: 0;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    bottom: 0;
    opacity: 0;
    line-height: 1.6;
    transition: all 0.5s ease;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
    opacity: 0.6;
    transition: opacity 0.5s ease;
  }
  &:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
    &::after {
      opacity: 1;
    }
    .card-property__facility {
      &::after {
        width: 100%;
        margin-bottom: 0px;
      }
    }
    .card-property__desc {
      // height: 88px;
      height: 14px*1.6*4;
      opacity: 1;
      margin-top: 10px;
    }
  }
}
