.card-property {
  border-radius: 5px;
  color: white;
  border: none;
  margin-bottom: 20px;
  overflow: hidden;
}
.card-property__image-container {
  position: relative;
  width: 100%;
}
.card-property__image-container:before {
  content: "";
  display: block;
  padding-top: 120%;
}
.card-property__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-property__body {
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 1;
  bottom: 0;
}
.card-property__title {
  font-size: 18px;
  margin: 0;
}
.card-property__price {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.card-property__facility {
  font-size: 14px;
  margin: 0;
}
.card-property__facility::after {
  content: "";
  display: block;
  width: 0;
  height: 10px;
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: -20px;
  background-color: white;
  transition: all 0.5s ease;
}
.card-property__desc {
  height: 0;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  bottom: 0;
  opacity: 0;
  line-height: 1.6;
  transition: all 0.5s ease;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.card-property:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
.card-property:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.card-property:hover::after {
  opacity: 1;
}
.card-property:hover .card-property__facility::after {
  width: 100%;
  margin-bottom: 0px;
}
.card-property:hover .card-property__desc {
  height: 89.6px;
  opacity: 1;
  margin-top: 10px;
}

/*# sourceMappingURL=card-property.css.map */
