@import "../_config";
.section-office {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("../../img/contact-bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 520px;
  }
  position: relative;
  display: flex;
  height: 600px;
  align-items: flex-end;
  @media only screen and (max-width: 768px) {
    &::before {
      height: 280px;
    }
    height: 400px;
   }
}

.card-office {
  background-color: $primary;
  color: white;
  padding: 40px;
  &__title {
    font-weight: bold;
    font-size: 24px;
  }
  &__contact {
    color: $white-darker;
  }
  @media only screen and (max-width: 768px) {
   text-align: center;
  }
}

.swiper-office {
  .swiper-container {
    width: 100%;
    // background-color: red;
  }
  &__slide {
    text-align: center;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    padding: 20px;
  }
  &__navigation-container {
    display: flex;
    justify-content: center;
    right: 0;
    left: 0;
    margin-top: 10px;
  }
  &__button {
      width: 60px;
      height: 60px;
      background-color: black;
  }
}

.section-form {
    &__location {
      display: flex;
    }
    .map {
      width: 100%;
      height: 220px;
      border: none;
    }
  }