@import "../_config";

.navbar {
  background-color: transparent;
}

.section-hero {
  background-color: $primary;
  position: relative;
  color: white;
  min-height: 500px;
  .button {
    @media only screen and (max-width: 768px) {
      padding-right: 0;
      overflow-x: visible;
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
      &:hover {
        padding-left: 0;
        color: $white-darker;
        &::after {
          width: 20px;
        }
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    height: 72px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
  }
  @media only screen and (max-width: 768px) {
    text-align: center;
    background-color: $secondary;
  }
}

.swiper-hero {
  position: relative;
  background-color: $primary;
  height: 100%;
  &__image {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: center;
  }
  &__text-container {
    z-index: 1;
    padding-right: 16px;
    background-color: $primary;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__facility {
    color: $white-darker;
    margin: 0;
  }
  &__price {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  &__pagination {
    position: absolute;
    left: 50%;
    bottom: 200px;
    transform: translateX(-50%);
  }
  &__navigation-container {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 100px;
    right: 0;
    left: 0;
  }
  @media only screen and (max-width: 768px) {
    background-color: transparent;
    &__image {
      width: 100%;
      z-index: -1;
      height: 90%;
    }
    &__text-container {
      width: 100%;
      padding: 24px;
      padding-bottom: 64px;
      height: auto;
      align-items: center;
      align-self: flex-end;
      margin-bottom: 16px;
      border-radius: 5px;
    }
    &__title {
      font-size: 24px;
      font-weight: bold;
    }
    &__price {
      font-size: 20px;
      font-weight: bold;
      margin: 16px 0;
    }
    &__navigation-container {
      width: 100%;
      justify-content: space-between;
      bottom: 85px;
    }
    &__pagination {
      bottom: 40px;
    }
  }
}

.section-benefit {
  background-color: $secondary;
  position: relative;
  color: white;
  height: 500px;
  padding: 100px 0;
  &__title {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  }
  &__desc {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  }
  &__button {
    margin-top: 75px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url(../../img/services-c-fig-2.jpg);
    background-position: center;
    background-size: cover;
  }
  @media only screen and (max-width: 992px) {
    &::before {
      width: 60%;
    }
  }
  @media only screen and (max-width: 768px) {
    height: auto;
    padding: 30px 0;
    &__button {
      margin-top: 30px;
    }
    &::before {
      width: 100%;
      height: 70%;
    }
  }
}

.card-benefit {
  background-color: $primary;
  text-align: center;
  border-radius: 5px;
  min-height: 300px;
  &__image {
    height: 100px;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
  }
  &__desc {
    font-size: 14px;
  }
  @media only screen and (max-width: 768px) {
    min-height: 260px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.swiper-benefit {
  height: auto;
  width: 65%;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 1;
  &__button {
    background-color: transparent;
    color: black;
  }
  &__navigation-container {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 65%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  @media only screen and (max-width: 992px) {
    width: 50%;
    &__navigation-container {
      width: 50%;
    }
  }
  @media only screen and (max-width: 768px) {
    margin-top: 30px;
    position: relative;
    bottom: 0;
    top: auto;
    width: 100%;
    transform: translateY(0);
    &__navigation-container {
      justify-content: space-between;
      width: 100%;
      bottom: 130px;
      left: 0;
    }
    &__button {
      color: white;
    }
  }
  @media only screen and (max-width: 575px) {
    &__button {
      width: 40px;
      height: 40px;
      margin: 0 10px;
    }
  }
}

.section-property {
  background-color: $secondary;
}

.section-agent {
  background-color: $secondary;
}

.card-agent {
  display: block;
  border-radius: 5px;
  color: white;
  transition: all 0.3s ease;
  border: none;
  margin-bottom: 70px;
  @include imageRatio(100, 150);
  &__image {
    object-position: top;
    border-radius: 5px;
  }
  &__body {
    background-color: $primary;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 80%;
    z-index: 1;
    border-radius: 5px;
    padding: 20px 30px;
    box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.25);
  }
  &__name {
    font-size: 16px;
    margin: 0;
    margin-bottom: 3px;
    font-weight: bold;
  }
  &__phone {
    font-size: 14px;
    margin: 0;
    color: $white-darker;
  }
  &__social {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  &__social-link {
    text-decoration: none;
    color: white;
    margin: 0 5px;
    transition: all 0.3s ease;
    font-size: 20px;
    &:hover {
      text-decoration: none;
      color: $white-darker;
    }
  }
  &:hover {
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    & .card-agent__social {
      margin-top: 5px;
      height: 30px;
    }
  }
  @media only screen and (max-width: 991.5px) {
    &__social {
      margin-top: 5px;
      height: 30px;
    }
    &__social-link {
      margin: 0 10px;
    }
  }
}


.section-search {
  background-image: url("../../img/cta-fig-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 130px 0;
}

.card-search {
  background-color: $primary;
  color: white;
  width: 90%;
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
  &__title {
    font-weight: bold;
    line-height: normal;
  }
  &__desc {
    color: $white-darker;
    margin-bottom: 30px;
  }
}
