@import "../_config";

.section-header {
  &__title {
    font-weight: bold;
    font-size: 30px;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__price {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
  }
  &__facility-container {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    align-items: center;
  }
  &__facility-item {
    font-size: 20px;
    margin: 0 5px;
  }
  &__facility-unit {
    font-size: 14px;
  }
  @include imageRatio(100, 100);
  &__image-container {
    overflow: hidden;
    &::after {
      content: "View Photo";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: white;
      padding: 10px 20px;
      white-space: nowrap;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      transition: all 0.3s ease;
    }
    &:hover {
      &::after {
        top: 90%;
        transform: translate(-50%, -100%);
      }
    }
  }
  &__image {
    padding: 2px;
  }
  &__small-side:nth-child(n + 5) {
    display: none;
  }
}

.section-detail {
  &__right-side {
    position: sticky;
    top: 88px;
    // margin-bottom: 48px;
  }
  &__separator {
    margin-top: 24px;
    margin-bottom: 20px;
  }
  &__detail-key {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
  }
  &__detail-value {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    font-size: 18px;
  }
}

.section-overview {
  &__desc-container {
    @include elypsis($font-size: 16, $lines-to-show: 6, $line-height: 1.4);
    transition: all 0.3s ease;
    &.show {
      display: block;
    }
  }
  &__desc {
    margin: 0;
  }
  &__button {
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    &:focus {
      box-shadow: none;
    }
  }
}

.media-user {
  @include imageRatio(100, 100);
  &__title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
  }
  &__email {
    margin-top: 14px;
    margin-bottom: 0;
  }
}

.section-area {
  &__map {
    width: 100%;
    height: 350px;
    border: none;
  }
}

.table-school {
  &__star-container {
    margin-left: 5px;
    @media only screen and (max-width: 767.5px) {
      display: none;
    }
  }
}

.payment-chart {
  width: 100%;
  max-width: 250px;
  margin: auto;
  position: relative;
  &__text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__total {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
  }
  &__unit {
    font-size: 14px;
    margin: 0;
    color: $white_darker;
  }
  &__indicator {
    font-weight: bold;
    color: #0070c9;
    margin-right: 5px;
  }
}

.floating-buttons {
  display: none;
  position: sticky;
  width: 100%;
  background-color: $secondary;
  padding: 10px 0;
  bottom: 0;
  @media only screen and (max-width: 992px) {
    display: block;
  }
}

.normal-buttons {
  display: flex;
  @media only screen and (max-width: 992px) {
    display: none;
  }
}

.nav-pills {
  .nav-link {
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    &.active {
      color: $body-color;
      background-color: transparent;
      border-bottom: 3px solid $primary;
    }
  }
}

// Tab to acordion
.nav-pills-custom {
  .nav-pills {
    display: none;
  }

  .card {
    .card-header {
      background-color: white;
      text-transform: uppercase;
      padding: 0;
      .card-title {
        transition: all .3s ease;
        font-weight: bold;
        color: $primary;
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 15px 20px;
        &:hover {
          text-decoration: none;
          color: $primary;
        }
        &.collapsed {
          color: $white-darker;
          &:hover {
            text-decoration: none;
            color: $primary;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .nav-pills {
      display: block;
      white-space: nowrap;
      overflow: auto;
      padding-bottom: 10px;
      .nav-item {
        display: inline-block;
      }
    }

    .card {
      border: none;
      .card-header {
        display: none;
      }
      .collapse {
        display: block;
      }
    }
  }
  @media (max-width: 767px) {
    .tab-content > .tab-pane {
      display: block !important;
      opacity: 1;
    }
  }
}
