@import "../_config";

body {
  background-color: $secondary;
}

.map-container {
  position: fixed;
  top: 72px;
  right: 0;
  width: 50%;
  height: calc(100vh - 72px);
  @media only screen and (max-width: 767.5px) {
    position: relative;
    width: 100%;
    top: auto;
  }
}

.map {
  width: 100%;
  height: 100%;
  border: 0;
}

.footer-property {
  background-color: $primary;
  color: $white-darker;
  padding: 30px 0;
}

.filter {
  padding-top: 30px;
  padding-bottom: 30px;
  &__result {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
  }
}

.pagination {
  margin: 0;
  &__item {
    padding: 0 10px;
    display: flex;
    i {
      margin: 0 5px;
      margin-top: 5px;
    }
  }
  &__link {
    color: $primary;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
    padding: 10px 1px;
    padding-top: 0;
    background-color: transparent;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 0%;
      opacity: 0;
      border-bottom: 3px solid $primary;
      transition: all .3s ease;
    }
    &.active {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 100%;
        border-bottom: 3px solid $primary;
      }
    }
    &:hover {
      color: $primary;
      text-decoration: none;
      &::before {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
